nav {
  background-color: #4056a1;
  color: #FFFF;
  height: 120px;
  z-index: 10000;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0; 
  left: 0;
}

nav span {
  font-family: 'Bungee', cursive;
  position: absolute;
  top: 1.2em; left: 1.5em;
  font-size: 1.5em;
}
nav p {
  z-index: 4;
  position: relative;
  top: 1.5em;
  right: 1.5em;
  margin: 0;
  float: right;
}
nav p img {
  position: absolute;
  height: 22px;
  top: 1.1em;
  display: flex;
  left: 2.6em;
}