nav {
  background-color:  rgb(19, 83, 85);
  color: #FFFF;
  height: 120px;
  z-index: 10000;
  /* position: fixed; */
  width: 100%;
  top: 0;
  right: 0; 
  left: 0;
}
nav span {
  font-family: 'Bungee', cursive;
  position: absolute;
  top: 1.2em; left: 1.1em;
  font-size: 1.5em;
}
nav p {
  z-index: 4;
  position: relative;
  top: 1.6em;
  right: 1.5em;
  margin: 0;
  float: right;
}
nav p img {
  position: absolute;
  height: 30px;
  top: 1.1em;
  display: flex;
  left: 2.6em;
  cursor: pointer;
}
@media only screen and (max-width: 300px ) {
  /* nav span {
    font-size: 24px;
  } */
  nav p {
    font-size: 20px;
    right: 1.2em;
  }
}
@media only screen and (min-width: 1024px) {
  nav {
    position: fixed;
  }
  nav span {
    top: 1.2em; left: 1.5em;
  }
  nav p {
    right: 1.5em;
  }
}

/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/* SCROLL UP ICON */
#back2Top {
  width: 100px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  /* -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg); */
  /* transform: rotate(270deg); */

  position: fixed;
  bottom: 50px;
  right: 0;
  color: #555;
  text-align: right;
  font-size: 30px;
  text-decoration: none;
  filter: drop-shadow(3px 3px 3px rgb(28, 29, 28));
}
#back2Top:hover {
  filter: drop-shadow(3px 3px 3px rgb(0, 255, 21));
  color: #000;
}
#scroll-icon {
  /* height: 40px; */
  border-radius: 50%;
}