.error-section {
  display: flex;
  margin: 15px 0 0 10px;
  background-color: #b50534;
  border-radius: 20px;
  color: white;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 16px;
  display: none;
  filter: drop-shadow(3px 3px 3px rgb(92, 0, 0));
}
.error-icon {
  padding: 10px 20px;
}
.error-icon img {
  margin-top: 5px;
  height: 20px;
}
.error-message {
  display: inline-block;
  padding: 10px 10px;
}
.show-new-tweet-input {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 10px;
  width: 100%;
  display: none;
}
.new-tweet-form {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}
.tweet-input-field {
  margin-bottom: 10px;
  height: 50px;
  border: none;
  border-bottom: 5px solid grey;
  background: transparent;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 25px;
  resize: none;
  outline: 0 none;
}
.form-input-section {
  display: flex;
}
.empty {
  display: flex;
  flex-grow: 1;
}
#tweet-submit-btn {
  display: flex;
  width: fit-content;
  padding: 4px 6px;
  background-color: navy;
  color: white;
  font-family: 'Bungee', cursive;
}
.counter {
  font-family: 'Bungee', cursive;
  color: grey;
}